/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 100vh; 
  margin:0;
  overflow: hidden;
  
}

.content-container {
  display: flex;
  gap:1rem;
  justify-content: flex-end;
  padding: 2rem;
  margin-right: 2rem;

}
#header{
  margin-top: 10px;
 font-size: 1.4rem;
}



@media (max-width: 768px) {
  .app-container{
    height: 100%;
  }
  .content-container {
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
  }
  
}
