.crypto-container {
  max-width: 400px;
  flex: 1;
  padding: 2rem;
  background-color: rgba(240, 248, 255, 0.785);
  border-radius: 10px;
  margin: 0 1rem;
}

.header {
  color: azure;
}

.crypto-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.crypto-card {
  background-color: #f582a7;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.crypto-card:hover {
  transform: translateY(-5px);
}

.crypto-card h3 {
  font-size: 1.1rem; /* Reduce font size for card title */
  margin-bottom: 8px;
  color: #ffffff;
}

.crypto-card p {
  font-size: 0.8rem; /* Reduce font size for card content */
  color: #2f2e2e;
  margin: 3px 0;
}

@media (max-width:768px) {
  .crypto-container{
    margin-left:2rem ;
  }
}